// ====== Breakpoints Map ===== //
$breakpoints: (
  2xs: 20rem,   // 320px
  xs: 30rem,    // 480px
  s-sm: 37.5rem,// 600px
  sm: 48rem,    // 768px
  md: 62rem,    // 992px
  lg: 80rem,    // 1280px
  xl: 90rem,    // 1440px
  2xl: 97.5rem  // 1560px
);