@use 'button';
@use 'input';

@use '../base/functions' as *;
@use '../base/mixins' as *;

// CTA Form
.cta-form {
  --col-width: 100%;
  --col-gap-x: 1rem;
  --col-gap-y: 1rem;

  display: block;
  width: 100%;

  @include respond-above(xs) {
    --col-width: 50%;
    --col-gap-y: 1.25rem;
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: rem(40);

      @include respond-below(md) {
        margin-bottom: rem(24);
      }
    }
  }

  &__title {
    font-family: var(--font-family-primary);
    font-size: rem(62);
    line-height: 1.2;
    text-align: center;

    @include respond-below(md) {
      font-size: rem(48);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--col-gap-y) 0;
    margin: 0 calc(var(--col-gap-x) / 2 * -1);
  }

  &__col {
    flex: 0 0 var(--col-width);
    max-width: var(--col-width);
    padding: 0 calc(var(--col-gap-x) / 2);

    &--full {
      --col-width: 100%;
    }
  }

  &__btn {
    width: 100%;
  }
}